<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn-->
<configuration status="warn" monitorInterval="30" strict="true">

    <appenders>
        <console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
        </console>
        
        
		
    </appenders>

    <loggers>
        <logger name="errorLogger" level="INFO" additivity="false">
        	<appender-ref ref="RollingFileError"/>
        	<appender-ref ref="stdout"/>
        </logger>
         <logger name="debugLogger" level="INFO" additivity="false">
        	<appender-ref ref="RollingDebug"/>
        	<appender-ref ref="stdout"/>
        </logger>
       
        
        <root level="info" includeLocation="true">
            <appender-ref ref="stdout"/>
            <appender-ref ref="RollingSystem"/>
        </root>
    </loggers>

</configuration>